{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecionar Licença</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Selecionar Licença</h1>

        {% if licencas %}
        <form method="POST" action="{% url 'select_license' %}"> <!-- Corrija a URL -->
            {% csrf_token %}
            <label for="licenca">Escolha uma licença:</label>
            <select name="lice_nome" id="licenca" required>
                {% for licenca in licencas %}
                <option value="{{ licenca.lice_nome }}">{{ licenca.lice_nome }}</option>
                {% endfor %}
            </select>
            <button type="submit">Selecionar Licença</button>
        </form>
        {% else %}
        <p>Nenhuma licença disponível.</p>
        {% endif %}
    </div>
</body>

</html>