{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Aplicações{% endblock %}

{% block content %}

<br><br><br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'agricola/liststyles.css' %}">
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <center>
                <h2 class="mb-4">Lista de Aplicações de Insumos</h2>
            </center>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <a href="{% url 'aplicacaoinsumos_form' %}" class="btn btn-success float-end">Nova Aplicação</a>
        </div>
        <div class="container">
            {% if aplicacoes %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Ações</th>
                            <th>ID</th>
                            <th>Insumo</th>
                            <th>Quantidade</th>
                            <th>Fazenda</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aplicacao in aplicacoes %}
                        <tr>
                            <td>
                                <a href="{% url 'aplicacaoinsumos_update' aplicacao.id %}" class="btn btn-sm" style="background-color: #7ab1ec; color: white;">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{% url 'aplicacaoinsumos_delete' aplicacao.id %}" class="btn btn-sm" style="background-color: #e7a0a7; color: white;">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                            <td>{{ aplicacao.id }}</td>
                            <td>{{ aplicacao.insumo.nome }}</td>
                            <td>{{ aplicacao.quantidade }}</td>
                            <td>{{ aplicacao.fazenda.nome }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Não há aplicações para exibir.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
