.container-orc {
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  padding: 10%;
}

.container-new {
  align-items: end;
  justify-items: end;
  text-align: end;
  margin-right: 5%;
  padding: 5%;
}

table {
  text-align: center;
}

h5 {
  text-align: center;
  margin: 2%;
}
/*Dados do Orçamento */

h4 {
  text-align: center;
  margin: 2%;
}

h3 {
  color: black;
  text-emphasis: initial;
  text-align: center;
  margin: 2%;
}

form.row {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: antiquewhite;
}

form.row .form-control {
  border: 2px solid #576069; /* Borda azul */
  border-radius: 2px;
  padding: 10px;
}

form.row .form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

form.row .btn-primary {
  background-color: #384f68;
  border: none;
  font-weight: bold;
}

form.row .btn-primary:hover {
  background-color: #bea13a;
}

.card {
  padding: 5%;
  background: linear-gradient(rgb(133, 153, 162), rgb(206, 206, 206));
  border: 2px solid rgb(26, 112, 138);
  border-radius: 8px;
}

.card h3 {
  text-shadow: #28a745;
  color: antiquewhite;
}
.form-row input {
  max-width: 100px;
  margin-bottom: 5px;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table th,
.table td {
  font-size: 0.85rem; /* Tamanho uniforme para células */
  padding: 0.4rem; /* Ajuste o padding conforme necessário */
  line-height: 1.2; /* Melhora a legibilidade com altura da linha ajustada */
}

.table thead th {
  font-size: 0.9rem; /* Tamanho uniforme para cabeçalhos */
}

#formset {
  max-height: 400px;
  overflow-y: auto;
}

#addItemBtn {
  width: 100%;
  margin-top: 20px;
}

.container-buttons {
  align-items: start;
  justify-content: space-between;
  margin: 2%;
}

.container-new a.btn {
  background-color: #354380; /* Cor verde */
  border-color: #92c1cf;
  font-weight: bold;
  color: aliceblue;
}

.container-new a.btn:hover {
  background-color: #d0b088;
  color: black; /* Tom mais escuro ao passar o mouse */
}

@media (max-width: 768px) {
  .card {
    margin-top: 5rem;
  }
  .search-form .form-col {
    margin-left: 0;
    width: 100%;
  }

  .table th,
  .table td {
    font-size: 0.8rem;
  }
}
